body {
    margin: 0;
    padding: 0;
}
.nav-link{
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    gap: 40px;
}

.nav-link a{
    font-size: larger;
    font-weight: bold;     
}
.nav-link a:hover{
    color: black;
}
.nav-padding{
    padding: 20px 12px 8px;
}
.nav-color {
    background-color: #00b0ff;
    color: white;    
    width: 100%; 
    height: 74px;
}
.btn-primary{
    padding: 20px;
    border-radius: 30px;
    background-color: #00b0ff;
    color: white;
    border-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
   
    
}
.btn-primary:hover {
    background-color: #32beff;
}
.text-decoration a{
    text-decoration: none;
}
.white a{
    color: white;
}
.text-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.gap-social{
    gap: 40px;
}
.carousel-item img{
    width: 100%;
    height: 600px; 
}
.border-box{
    border-radius: 30px;
    width: 500px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    padding: 50px;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.authform{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
}
.btn-secendory{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #00b0ff;
    color: white;
    border-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.footer-color{
    background-color: black;
}
.mm{
    padding: 20px 0px 0px 0px;
}
.padding-text{
    padding: 20px 0px 10px;
}

.response-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media only screen and (max-width: 992px) {
    .desktop-only {
        display: none;
    }
    
    .response-only {
        display: block;
    }
   
        .carousel-item img {
          height: 400px;
        }
}
.mt-auth{
    margin-top: 80px;
}



.contact-border {
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 80px;
}

.map-container {
    padding: 20px;
    
}

.map-container iframe {
    
   width: 100%;
   height: 400px;
    
}
.qq{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
.blueCircle{
    width: 50px;
    height: 50px;
    font-size: xx-large;
    background-color: #00b0ff;
    border-radius: 30px;
    text-align: center;
}
.fontforName{
    font-size: xx-large;
}
.ff{
    width: 1000px;
    background-color: 1px solid black;
    height: 1px;
}
.inputSize{
    padding: 0px 10px;
    border-radius: 10px;
    border-style: none;
    width: 280px;
}
.gapGetnews{
    gap: 200px;
}

.kk{
    
   border-left: 1px solid black;
    
    height: 200px;
}
.ssss{
    width: 200px;
    height: 100px;
    background-color: #261e1e;
    border-radius: 20px;

}
.gbgb{
    
background: rgba(0, 176, 255, 0.54);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
width: 260px;
height: 100px;
padding: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-decoration: none;
color: black;
font-size: x-large;
}


  .textArea{
    width: 500px;
    height: 100px;
}

.margin-top{
    margin-top: 100px;
}